.startBtn {
  margin: 20px;
  transition-duration: 0.1s;
  background-color: #40d659;
  border-radius: 8px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 4px solid #38af4c;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
