.tapBtn {
  transition-duration: 0.1s;
  background-color: #81838b;
  border-radius: 8px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 4px solid #5f616b;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 550;
  letter-spacing: 2px;
  cursor: pointer;
}

.tapBtn:hover {
  background-color: #787a85;
  color: whitesmoke;
}

.tapBtn:active {
  transform: translateY(2px);
}
