.Metronome {
  text-align: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  border-radius: 20px;
  height: auto;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  width: 100%;
  margin: 0 auto;
}
.block {
  display: inline-block
}

.block.plusMinusBtn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 25px;
  border: 2px solid #dae2db;
  background-color: white;
  display: table-cell;
  vertical-align: middle;
  color: #929692;
  margin-top: -7px;
  margin-left: -10px;
  margin-right: -10px;
}

.block.plusMinusBtn:hover {
  color: #5d625d;
  border: 2px solid #c2c8c2;
  cursor: pointer;
}

.Metronome header {
  font-family: 'Oxygen', sans-serif;
  font-size: 45px;
  color:rgb(99, 98, 98);
  margin-bottom: 30px;
}

.bpmOutput {
  font-family: 'Oxygen', sans-serif;
  margin: 30px;
  margin-bottom: 20px;
  font-size: 35px;
  color:rgb(99, 98, 98);
}

.greenBtn {
  margin: 30px 20px;
  transition-duration: 0.1s;
  background-color: #40d659;
  opacity: 0.8;
  border-radius: 8px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 4px solid #38af4c;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.redBtn {
  margin: 30px 20px;
  transition-duration: 0.1s;
  background-color: #e95e45;
  opacity: 0.8;
  border-radius: 8px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 4px solid #bd4d39;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.greenBtn:hover {
  background-color: #43cd5a;
}

.redBtn:hover {
  background-color: #e15941;
}

.tapBtn {
  transition-duration: 0.1s;
  background-color: #81838b;
  border-radius: 8px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 4px solid #5f616b;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.tapBtn:hover {
  background-color: #787a85;
  color: whitesmoke;
}

.tapBtn:active {
  transform: translateY(2px);
}

.slider-parent{
  position:relative;
}

.slider {
  -webkit-appearance: none;
  width: 380px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #71737a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.beatCounter {
  font-family: 'Oxygen', sans-serif;
  color:rgb(99, 98, 98);
  font-size: 35px;
  transition: opacity 1s ease;
}
